.auth-form {
  background-color: #90E0EF;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.auth-form-card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 40px;
  text-align: center;
  width: 500px;
}

.auth-input {
  margin-top: 15px
}

.join-form{
  display: inline-flex;
  flex-direction: column;
}

.login-form{
  display: inline-flex;
  flex-direction: column;
}

.link-container{
  display: flex;
  gap: 60px;
  margin-top: 15px;
}

.logo-container img{
  width: 200px;
  height: 200px;
}

.reset-pwd-form{
  display: inline-flex;
  flex-direction: column;
}

button[type="submit"] {
  background-color: #03045E; /* 짙은 파란색 */
  color: white;
  padding: 10px 20px;
  margin-top: 20px; /* 제출 버튼과 카드 아래 간격 */
}